{% extends 'base.html' %} {% block title %} User Edit Page {% endblock %} {%
block content %}
<div id="container">
  <h1>Edit a User</h1>
  <form action="/users/{{curr_user.id}}/edit" method="POST">
    <div>
      <label for="first_name">First Name</label>
      <input
        id="first_name"
        type="text"
        required
        name="first_name"
        value="{{curr_user.first_name}}"
      />
    </div>
    <div>
      <label for="last_name">Last Name</label>
      <input
        id="last_name"
        type="text"
        required
        name="last_name"
        value="{{curr_user.last_name}}"
      />
    </div>
    <div>
      <label for="image_url">Image URL</label>
      <input
        id="image_url"
        type="url"
        name="image_url"
        value="{{curr_user.image_url}}"
      />
    </div>
    <button type="submit">Save</button>
  </form>
  <form action="/users/{{curr_user.id}}">
    <button>Cancel</button>
  </form>
</div>
{% endblock %}
