{% extends 'base.html' %} {% block title %} User Detail Page {% endblock %} {%
block content %}
<!-- User Detail Page -->
<div>
  <div>
    <img src="{{curr_user.image_url}}" alt="User Profile Picture" />
  </div>
  <div>
    <h2>{{curr_user.first_name}} {{curr_user.last_name}}</h2>
    <div>
      <form action="/users/{{curr_user.id}}/edit">
        <button>Edit</button>
      </form>
      <form action="/users/{{curr_user.id}}/delete/" method="POST">
        <button type="submit">Delete</button>
      </form>
    </div>
  </div>
  <div>
    <h2>Posts</h2>
    {% for msg in get_flashed_messages() %}
    <p>{{msg}}</p>
    {% endfor %}
    <ol>
      {% for post in posts %}
      <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
      {% endfor %}
    </ol>
    <form action="/users/{{curr_user.id}}/posts/new">
      <button>Add Post</button>
    </form>
  </div>
</div>
{% endblock %}
